<h1>Set maps</h1>

<%= form_for :maps do |f| %>
  <% 6.times do |n| %>
    Map <%= n + 1 %>: <%= text_field_tag 'maps[' + n.to_s + ']', n < @maps.length ? @maps[n].name : '' %><br />
  <% end %>
  <%= f.submit 'Save' %>
<% end %>
