body { background-color: rgb( 26, 27, 31 ); color: #333; }

body {
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:   14px;
  line-height: 16px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #0077cc; text-decoration: none; }
a:hover { text-decoration: underline; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.centered-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.info_div {
  border-radius: 5px;
  border: 1px solid rgba( 0, 0, 0, .1 );
}

.info_div {
  background-color: #fff;
  margin-bottom: 10px;
}

.info_div ul {
  list-style: none;
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.inner_div {
  margin: 12px;
}

.map_name {
}

.result_table {
  background-color: #fff;
  border-collapse:collapse;
}

img {
  margin: 0px;
  padding: 0px;
}

.result_table th {
  padding: 0px 10px 5px 0px;  
  text-align: left;
}

.result_table td
{
  border-top:1px solid #e8e8e8;
  padding: 1px 10px 0px 0px;
  height: 25px;
}

.float_left {
  float: left;
  margin-right: 10px;
}

.positive {
  font-weight: bold;
  color: green;
}

.negative {
  font-weight: bold;
  color: red;
}

.button {
  display: inline-block;
  cursor: pointer;
  margin: 0px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
  background-repeat: repeat-x;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
}

.blue_button {
  background-color: #019AD2;
  background-image: -webkit-linear-gradient(top, #33BCEF, #019AD2);
  background-image: -moz-linear-gradient(top, #33BCEF, #019AD2);
  background-image: linear-gradient(top, #33BCEF, #019AD2);
  border: 1px solid #057ED0;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
  color: white;
}

.blue_button:hover {
  background-image: -webkit-linear-gradient(#2BAADB,#029BD3);
  background-image: -moz-linear-gradient(#2BAADB,#029BD3);
  background-image: linear-gradient(#2BAADB,#029BD3);
  text-decoration: none;
}

.blue_button:active {
  background-image: -webkit-linear-gradient(#299FCB,#029BD3);
  background-image: -moz-linear-gradient(#299FCB,#029BD3);
  background-image: linear-gradient(#299FCB,#029BD3);
  text-decoration: none;
  box-shadow: none;
}

.gray_button {
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: linear-gradient(top, #fff, #ddd);
  border: 1px solid #ccc;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px 0px inset;
  color: #333;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
}

.gray_button:hover {
  background-image: -webkit-linear-gradient(#2BAADB,#029BD3);
  background-image: -moz-linear-gradient(#2BAADB,#029BD3);
  background-image: linear-gradient(#2BAADB,#029BD3);
  text-decoration: none;
}

.gray_button:active {
  background-image: -webkit-linear-gradient(#299FCB,#029BD3);
  background-image: -moz-linear-gradient(#299FCB,#029BD3);
  background-image: linear-gradient(#299FCB,#029BD3);
  text-decoration: none;
  box-shadow: none;
}

.attr {
  margin-bottom: 5px;
  height: 24px;
}

.attr_name {
  float: left;
  text-align: right;
  font-weight: bold;
  width: 110px;
  margin-right: 15px;
}

.attr_value {
}
