<div class="container">
  <div class="row">
    <div class="span6">
      <h1><%= @tournament.name %> <small><%= @tournament == Tournament.current ? 'Standings' : 'Results' %></small></h1>
    </div>
  </div>
</div>
