<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <p>This website tracks the internal IBM Starcraft II league.</p>
  <div class="page-header">
    <h1>How to play</h1>
  </div>
  <h3>1. Sign up</h3>
  <p><%= link_to "Sign up", new_player_path %> for the tournament.</p>
  <h3>2. Join channel "IBM" on the American server</h3>
  <p>Most players are online Wednesday night pacific time.</p>
  <h3>3. Challenge a player</h3>
  <p>Challenge a player in the chat channel to a tournament game. The player that you are challenging gets to pick the map.</p>
  <h3>4. Record the result</h3>
  <p><%= link_to "Record the result", new_match_path %> of the game on this website. Your points and ranking will be adjusted automatically.</p>
</div>
