<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header"><h1>How to play</h1></div>
      <h3>1. Sign up</h3>
      <p>Get a job at IBM, and then <%= link_to "sign up", new_player_path %> for the tournament.  Make sure that you are listed on the <%= link_to 'players', players_path %> page. </p>
      <h3>2. Join channel "IBM" on the American server</h3>
      <p>Wednesday evenings will be our usual meeting time and we will meet in channel "IBM".  There is no specific time because of the various time zones throughout the world, but most people will be on between the hours of 6PM PST through 10PM PST.  You can play games outside of Wednesday if you can find opponents online.</p>
      <h3>3. Challenge a player</h3>
      <p>Challenge a player in the chat channel to a tournament game. The player that you are challenging gets to pick the map. They can pick from any of the current 1v1 ladder maps:
        <ul>
          <li>Antiga Shipyard</li>
          <li>Cloud Kingdom LE</li>
          <li>Condemned Ridge</li>
          <li>Daybreak LE</li>
          <li>Entombed Valley</li>
          <li>Ohana LE</li>
          <li>Shakuras Plateau</li>
          <li>Tal'Darim Altar LE</li>
        </ul>
        You can challenge anyone on the ladder as many times as you'd like.
      </p>
      <h3>4. Set handicaps</h3>
      <p>When players across different leagues play one another, the lower leagued player has the option to play the game with a handicap. Use the <%= link_to 'Who should I play?', '/who-should-i-play' %> page to figure out who plays at what handicap.</p>
      <h3>5. Record the result</h3>
      <p>One of the players should <%= link_to 'record the game', new_match_path %> by uploading the replay on the website. Your points and ranking will be adjusted automatically.</p>
    </div>
  </div>
</div>