<div class="float_left info_div" id="rule_div">
  <div class="inner_div">
    <h1>Official Rules</h1>
    <ol>
      <li><p>Points are initially set at the beginning of the month.  Everyone is set to 1000.</p></li>
      <li><p>You can now challenge anyone on the ladder! To challenge someone, simply say something like, “I challenge you GreatArchon!” in the chat channel that we will all be meeting in on battle.net: IBM. That person must then play you.</p></li>
      <li><p>The person being challenged gets to pick the map you will play on.  They can pick from one of the maps that are pre-determined before each week’s bouts.  The map pool is displayed on the website.</p></li>
      <li><p>You can only challenge a single opponent once a week, however it does not count if they challenged you earlier.  So in essence you can play a maximum of two games a week versus a single opponent.  Think of it as "rematch challenges" are allowed.</p></li>
      <li><p>There will be handicaps invoked on favored players.</p>
      	<ul>
          <li>2 Leagues difference = 10%</li>
          <li>3 Leagues difference = 20%</li>
          <li>4 Leagues difference = 30%</li>
          <li>5 Leagues difference = 40%</li>
        </ul>
        <p>Example: if a Master Player plays a Silver player, it is a difference of 4 leagues and a Hit-Point handicap of 30% will be invoked on the Master player.  This is selected in the lobby after picking a map and before you start your game.  The Master player would select 70% and the Silver player would remain at 100%.</p>
        <p>The handicap is optional for the underdog player.  Initial leagues placements are permanent throughout the month even if players are promoted/demoted on the official 1v1 battle.net ladder.</p></li>
      <li><p>Via the website, record the Winner and Loser of your match. The website will automatically determine how many points each person wins and loses and the point totals and ranks will be automatically updated.</p></li>
      <li><p>The system is benefited towards the Underdog.  You win more points and lose less points when playing a favored player and vice-versa.</p></li>
      <li><p>Bonus points are awarded to active players. +1 point is rewarded to both the winner and loser after each game.  In addition, there are Happy Hour Wednesdays from 12pm-12am PST where +2 points to each player instead of +1!</p></li>
      <li><p>You can play games outside of Wednesday!  If you see someone online at a different time and day, you can challenge them.  The only problem is that they are not obligated to play on the spot. But they should out of honor!</p></li>
    </ol>

    <p><h3>On Wednesdays, meet in channel IBM on battle.net.</h3></p>
    <p>Most people are on throughout the evening and into the night (PST time zone).  If you are in the channel on Wednesdays, you are obligated to play if someone challenges you!</p>
    <p>For questions, comments, or concerns, please e-mail Andrew W Lin/Tucson/IBM@IBMUS.</p>
  </div>
</div>