<div class="container">
  <div class="row">
    <div class="span4">

      <h1>Players<small class="pull-right"><a href="#" class="btn btn-primary">New Player</a></small></h1>

      <table class="table table-condensed table-striped">
        <thead>
          <th>Name</th>
          <th>Character Code</th>
        </thead>
        <% @players.each do |player| %>
        <tr>
          <td><%= render 'league_icon', :player => player %> <%= link_to player.name, player_path( player ) %></td>
          <td><%= player.character_code || '--' %></td>
        </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>